SECRET_KEY=change_this_in_production
DATABASE_URL=sqlite:///databroker229.db
EMAIL_EXPEDITEUR=votre@gmail.com
EMAIL_MOT_DE_PASSE=votre_mot_de_passe_app
AT_USERNAME=sandbox
AT_API_KEY=votre_cle_at
KKIAPAY_PUBLIC_KEY=votre_cle_publique
KKIAPAY_PRIVATE_KEY=votre_cle_privee
ADMIN_PASSWORD=choisir_mot_de_passe_fort
MARGE=0.40
